{% extends 'main.html' %}

{% block nav %}{{ navbar('battles', current_user) }}{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="/static/extern/pickdate/picker.js"></script>
    <script type="text/javascript" src="/static/extern/pickdate/picker.date.js"></script>
    <script type="text/javascript" src="/static/extern/pickdate/picker.time.js"></script>
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="/static/extern/pickdate/themes/classic.css" id="theme_base">
    <link rel="stylesheet" href="/static/extern/pickdate/themes/classic.date.css" id="theme_date">
    <link rel="stylesheet" href="/static/extern/pickdate/themes/classic.time.css" id="theme_time">
{% endblock %}

{% block main_area %}
{% include "partial/info_modal.html" %}
<div id="battle" class="bs-callout bs-callout-unit">
    <div class="row">
        <div class="col-md-12">
            <p class="pull-right">
                <a href="{{ url_for('battles.delete', battle_id=battle.id) }}" class="btn btn-default"><span class="glyphicon glyphicon-trash"></span> Delete battle</a>
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="col-md-4 control-label">Result</label>
                    <div class="col-md-8">
                        <select class="form-control" data-bind="value: result, options: results"></select>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-6">
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="col-md-4 control-label">Date</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" style="background-color: #ffffff" id="datepicker" placeholder="Date">
                    </div>
                </div>
            </form>
        </div>
    </div>
    <form class="form-horizontal">
        <div class="form-group">
            <label class="col-md-2 control-label">Description</label>
            <div class="col-md-10">
                <textarea class="form-control" rows="6" data-bind="value:description, valueUpdate: 'input'"></textarea>
            </div>
        </div>
    </form>
    <div class="row">
        <div class="col-md-offset-2 col-md-10">
            <div data-bind="foreach: tags">
                <span class="label label-default" data-bind="text: $data"></span>
            </div>
        </div>
    </div>

    <div data-bind="template: { name: 'side', foreach: sides }"></div>

    <div class="row">
        <div class="col-md-12">
            <div class="pull-right">
                <button class="btn btn-default" data-bind="click: addSide"><span class="glyphicon glyphicon-plus"></span> Add side</button>
            </div>
        </div>
    </div>
</div>

    <script type="text/html" id="side">
        <div class="bs-callout bs-callout-subunit">
            <div class="row">
                <div class="col-md-12">
                    <div class="pull-left">
                        <h4 data-bind="text: name"></h4>
                    </div>
                    <div class="pull-right">
                        <button class="btn btn-default" data-bind="click: deleteSide"><span class="glyphicon glyphicon-trash"></span> Delete</button>
                    </div>
                </div>
            </div>

            <form>
                <div class="form-group">
                    <label class="control-label">Name</label>
                    <input type="text" class="form-control" data-bind="value: name, valueUpdate: 'input'">
                </div>
                <div class="form-group has-feedback" data-bind="visible: !rosterInfo(), css: {'has-warning has-feedback': rosterNotFound}">
                    <label class="control-label">Roster</label>
                    <input type="text" class="form-control" data-bind="value: rosterUrl, valueUpdate: 'input'" placeholder="Add link to roster">
                    <span class="glyphicon glyphicon-warning-sign form-control-feedback" data-bind='visible: rosterNotFound'></span>
                    <span class="help-block text-danger" data-bind='visible: rosterNotFound'>Roster not found</span>
                </div>
                <div class="form-group" data-bind="visible: rosterInfo, with: rosterInfo">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="pull-left" >
                                <h5>
                                    <a data-bind="attr: {href: $data.url()}">
                                        <strong><span data-bind="text: $data.name()"></span>
                                        <span class="text-muted" data-bind="visible: $data.name()!=$data.type_name(), text: '[' + $data.type_name() + ']'"></span></strong>
                                    </a>
                                    <em class="text-muted">- <span data-bind="text: $data.points()"></span>/<span data-bind="text: $data.limit()?$data.limit():'\u221E'"></span>pt.</em>
                                </h5>
                                <div>
                                    <em class="text-muted"><span data-bind="text: $data.description()"></span></em>
                                </div>
                            </div>
                            <div class="pull-right" data-bind="with: $parent">
                                <button class="btn btn-default" data-bind="click: dropRoster"><span class="glyphicon glyphicon-remove"></span> Clear</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </script>

    <script>

        var RosterInfo = function(data) {
            this.id = ko.observable(data.id);
            this.url = ko.observable(data.url);
            this.type_name = ko.observable(data.type_name);
            this.name = ko.observable(data.name);
            this.points = ko.observable(data.points);
            this.limit = ko.observable(data.limit);
            this.description = ko.observable(data.description);
            this.tags = ko.observableArray(data.tags);
        };

        var BattleSide = function(battle, data) {
            var self = this;
            this.battle = battle;
            this.name = ko.observable(data.name);
            this.name.subscribe(battle.changed);
            this.name.extend({ rateLimit: { timeout: 1000, method: "notifyWhenChangesStop" } });
            this.rosterUrl = ko.observable('');
            this.rosterUrl.extend({ rateLimit: { timeout: 1000, method: "notifyWhenChangesStop" } });
            this.rosterInfo = ko.observable(data.roster && new RosterInfo(data.roster));
            this.rosterInfo.subscribe(battle.changed);
            this.rosterNotFound = ko.observable(false);
            this.rosterUrl.subscribe(function() {
                if (self.rosterUrl())
                    self.battle.rosterInfo.send({url: self.rosterUrl()}, function(data) {
                        if (data.roster)
                            self.rosterInfo(new RosterInfo(data.roster));
                        if (data.notfound)
                            self.rosterNotFound(true);
                    });
            });
        };

        BattleSide.prototype.dropRoster = function() {
            this.rosterNotFound(false);
            this.rosterUrl('');
            this.rosterInfo(null);
        };

        BattleSide.prototype.deleteSide = function() {
            this.battle.sides.remove(this);
        };

        BattleSide.prototype.dump = function() {
            var res = {name: this.name()};
            if (this.rosterInfo())
                res['roster'] = this.rosterInfo().id();
            return res;
        };

        var Battle = function(data) {
            var self = this;
            this.changed = function() {
                self.save();
            };
            this.results = ko.observableArray(['Win', 'Draw', 'Lose']);
            this.result = ko.observable(data.battle.result);
            this.result.subscribe(this.changed);
            this.picker = data.datePicker;
            this.rosterInfo = new AjaxTransport(data.rosterInfo);
            this.update = new AjaxTransport(data.updateBattle);

            this.description = ko.observable(data.battle.description);
            this.description.subscribe(this.changed);
            this.description.extend({ rateLimit: { timeout: 1000, method: "notifyWhenChangesStop" } });

            this.picker.set('select', new Date(data.battle.date.year, data.battle.date.month - 1, data.battle.date.day));
            this.picker.on({set: function() { self.changed(); }});

            this.sides = ko.observableArray(data.battle.sides.map(function(v) {
                return new BattleSide(self, v);
            }));
            this.sides.subscribe(this.changed);
            this.tags = ko.observableArray();
            this.updateTags();
        };

        Battle.prototype.addSide = function(){
            this.sides.push(new BattleSide(this, {name: 'Side #{0}'.format(this.sides().length + 1)}));
        };

        Battle.prototype.updateTags = function() {
            var tags = this.sides().reduce(function(res, v) {
                if (v.rosterInfo())
                    v.rosterInfo().tags().forEach(function(tag) {
                        if (!res.include(tag))
                            res.push(tag);
                    });
                return res;
            }, []);
            tags.sort();
            this.tags(tags);
        };

        Battle.prototype.save = function() {
            this.updateTags();
            var date = this.picker.get('select');
            var res = {
                result: this.result(),
                date: {
                    year: date.year,
                    month: date.month + 1,
                    day: date.date
                },
                description: this.description(),
                data: {
                    tags: this.tags(),
                    sides: this.sides().map(function(s) { return s.dump(); })
                }
            };
            this.update.send(res);
        };

        var battle = new Battle({
            datePicker: $('#datepicker').pickadate().pickadate('picker'),
            battle: {{ battle|tojson|safe }},
            rosterInfo: {{ url_for('battles.roster_info')|tojson|safe }},
            updateBattle: {{ url_for('battles.battle', battle_id=battle.id)|tojson|safe }}
        });
        ko.applyBindings(battle, document.getElementById('battle'));
    </script>
{% endblock %}
