{% load markup %}
<div id="{{ comment.id }}"
     comment_id="{{ comment.id }}" comment_level="{{ comment.level }}"
     comment_parent="{% if comment.parent %}{{ comment.parent.id }}{% else %}null{% endif %}"
     style="{% if comment.level > 0 and comment.level < 10 %}margin-left: 5%; {% endif %}margin-top: 20px">
    {% if comment.new %}
        <div id="new" style="margin-bottom: 5px"><span class="label label-info">Новый</span></div>
    {% endif %}
    {% include 'comment_text.html' %}
    <div style="overflow: auto">
        {% if comment.author.get_profile.avatar %}
            <div style="height: 36px; float: left; margin-right: 10px"><img src="/static/avatars/{{ comment.author.get_profile.avatar }}" style="max-height: 36px" alt=""></div>
        {% endif %}
        <div vote_tools="{{ comment.id }}" style="color:#cccccc; float: left;">
            {% if stable.auth and stable.auth.username != comment.author.username %}
            <a id="cancel-up" style="cursor: pointer; color:#ff0000; {% if not comment.vote_up %}display: none;{% endif %}">&uArr;</a>
            <a id="vote-up" style="cursor: pointer; color:#cccccc; {% if comment.vote_up %}display: none;{% endif %}">&uArr;</a>
            {% endif %}
            <a id="rate" style="color:#ff8888">{% if comment.rate > 0 %}+{% endif %}{{ comment.rate }}</a>
            {% if stable.auth and stable.auth.username != comment.author.username %}
            <a id="cancel-down" style="cursor: pointer; color:#ff0000; {% if not comment.vote_down %}display: none;{% endif %}">&dArr;</a>
            <a id="vote-down" style="cursor: pointer; color:#cccccc; {% if comment.vote_down %}display: none;{% endif %}">&dArr;</a>
            {% endif %}
            &ndash;
            <a href="/user/{{ comment.author.username }}">{{ comment.author.username }}</a>, {{ comment.time }}
        </div>

        <hr style="margin-bottom: 0px"/>
        <div style="color:#cccccc; float: right;">
            <a href="#{{ comment.id }}">#</a>
            {% if comment.parent.id %}
                <a onclick="scrollToElement($('#{{ comment.parent.id }}'))" style="cursor: pointer; ">&uarr;</a>
            {% else %}
                <a onclick="scrollToElement($('div[post_id]'))" style="cursor: pointer; ">&uarr;</a>
            {% endif %}
            {% if stable.auth %}
                {% if stable.auth.username == comment.author.username or stable.auth.is_staff %}
                    <a href="/edit_comment/{{ comment.id }}">править</a>
                {% endif %}
                <a comment_command="{{ comment.id }}" style="cursor: pointer">ответить</a>
                <a href="/new_comment/{{ comment.post.id }}/{{ comment.id }}">&raquo;</a>
            {% endif %}
        </div>
        <div style="clear: both"></div>
        {% if stable.auth %}
            <div comment_area="{{ comment.id }}"></div>
        {% endif %}
    </div>
</div>