{% extends "mail.html" %}

{% block scripts %}
    <script type="text/javascript" xmlns="http://www.w3.org/1999/html" src="/static/extern/markitup/jquery.markitup.js"></script>
    <script type="text/javascript" src="/static/extern/markitup/sets/markdown/set_comment.js"></script>
    <script type="text/javascript">
        function preview_mail_callback(preview) {
            var alert = "<div class=\"alert alert-error\"> \
                 <button class=\"close\" data-dismiss=\"alert\">×</button> \
                 <strong>Внимание!</strong> Это только предварительный просмотр, на забудте отправить сообщение если Вас все устраивает. \
            </div> "
            $("#preview_area").html(alert + preview.preview_text + '<hr>');
        }
        $(document).ready(function () {
            $("textarea").markItUp(mySettings);
            $("#preview").click(function () {
                Dajaxice.waaagh.multiblog.preview_mail(preview_mail_callback, {
                    'text':$('#id_text').val(),
                    'subject':$('#id_subject').val()
                });
            })
        });
    </script>
{% endblock %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="/static/extern/markitup/skins/simple/style.css"/>
    <link rel="stylesheet" type="text/css" href="/static/extern/markitup/sets/markdown/style_comment.css"/>
{% endblock %}

{% block mail_text_area %}
    {% load widget_tweaks %}
        <div id='preview_area'>&nbsp;</div>
        <div class="row-fluid">
        <form class="form-horizontal" action="" method="POST">
            <fieldset>
                <div class="control-group {% if form.to_user.errors %}error{% endif %}">
                    <label class="control-label" for="id_to_user">Имя</label>
                    <div class="controls">
                        {{ form.to_user|add_class:"span4" }}
                        {% for error in form.to_user.errors %}
                            <p class="help-block">{{ error }}</p>
                        {% endfor %}
                    </div>
                </div>
                <div class="control-group {% if form.subject.errors %}error{% endif %}">
                    <label class="control-label" for="id_subject">Тема</label>
                    <div class="controls">
                        {{ form.subject|add_class:"span12" }}
                        {% for error in form.subject.errors %}
                            <p class="help-block">{{ error }}</p>
                        {% endfor %}
                    </div>
                </div>
                <div class="control-group {% if form.text.errors %}error{% endif %}">
                    <label class="control-label" for="id_text">Сообщение</label>
                    <div class="controls">
                        {{ form.text|add_class:"span12" }}
                        {% for error in form.text.errors %}
                        <p class="help-block">{{ error }}</p>
                        {% endfor %}
                    </div>
                </div>
                <div class="form-actions">
                    <input id="preview" class="btn" type="button" value="Предпросмотр">
                    <button class="btn btn-primary" type="submit">Отправить</button>
                </div>
            </fieldset>
        </form>
        </div>
{% endblock %}
