{% extends "main.html" %}

{% block text_area %}
    <table class="table table-condensed">
        <thead>
        <tr>
            <th>Имя</th>
            <th>Репутация</th>
            <th>Дата регистрации</th>
            <th>Последний визит</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
        <tr>
            <td><a href="/user/{{ user.user.username }}">{{ user.user.username }}</a></td>
            <td>{% if user.rate > 0 %}+{% endif %}{{ user.rate }}</td>
            <td>{{ user.user.date_joined }}</td>
            <td>{{ user.user.last_login }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="row-fluid">
        <div class="span12">
            <ul class="pager">
                {% if prev != None %}
                    <li class="previous">
                        <a href="/users/{{ prev }}">
                        &larr; Предыдущие</a>
                    </li>
                {% endif %}
                {% if next != None %}
                    <li class="next">
                        <a href="/users/{{ next }}">
                        Следующие &rarr;</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
{% endblock %}