{% extends 'admin/master.html' %}
{% block body %}
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>name</th>
            <th>stats</th>
            <th>1-day</th>
            <th>30-day</th>
        </tr>
        </thead>
        <tbody>
        {% for line in stats %}
            <tr>
                <td>{{ line.name }}</td>
                <td>{{ line.count }}</td>
                <td>{{ line.grow1 }}</td>
                <td>{{ line.grow30 }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
