{%- macro post_side_list(title, posts, url) -%}
    <table class="table table-striped">
        <thead>
        <tr>
            <th>
                <h4>
{#                    <img class="image-muted" src="/static/extern/glyphicons/png/glyphicons_309_comments.png"> #}
                    <span class="glyphicon glyphicon-comment text-muted"></span>
                    <a href="{{ url }}">{{ title }}</a>
                </h4>
            </th>
        </tr>
    </thead>
    <tbody>
    {% for record in posts %}
        {% set post_header = record|post_header %}
        <tr><td>
        <div>
            <a href="{{ url_for('social.post', post_id=record.id) }}"> {% include 'social/elements/post_title.html' %} </a>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="pull-right">
                    <span class="text-muted">
                        <span class="glyphicon glyphicon-thumbs-up"></span> {{ record.rate|rate_text }}
                        <span class="glyphicon glyphicon-comment"></span> {{ record.comments_count }}
                    </span>
                </div>
            </div>
        </div>
    </td></tr>
    {% endfor %}
        </tbody>
    </table>
{%- endmacro -%}

{{ post_side_list('Discuss.Blogs', latest_public_blog, url_for('social.timeline', post_filter='blog')) }}
{{ post_side_list('Discuss.Rosters', latest_public_rosters, url_for('social.timeline', post_filter='roster')) }}
