{% extends "auth/signin.html" %}

{% block form_header %}
    {{ auth_form_header('') }}
{% endblock %}

{% block fields %}
    {{ auth_form_field(form.email, 120) }}
    <button class="btn btn-primary" type="submit">Remind me</button>
    <a href="{{ url_for('auth.signin_page') }}" class="btn btn-link">Sign in?</a>
{% endblock %}
