{% macro navbar(zone, current_user) %}
<div class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand hq-brand" href="{{ url_for('builder.main') }}">
                <span class="hq-brand-color">H</span>Q
            </a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarContents">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <div class="collapse navbar-collapse" id="navbarContents">

        {% if zone != 'roster' %}
            <ul class="nav navbar-nav">
                <li {% if zone=='rosters' %}class="active"{% endif %}><a href="{{ url_for('builder.main') }}"><span class="glyphicon glyphicon-list"></span> Rosters</a></li>
                <li {% if zone=='battles' %}class="active"{% endif %}><a href="{{ url_for('battles.list') }}"><span class="glyphicon glyphicon-fire"></span>  Battles</a></li>
                <li {% if zone=='timeline' %}class="active"{% endif %}><a href="{{ url_for('social.timeline') }}"><span class="glyphicon glyphicon-comment"></span>  Discuss</a></li>
                {% if current_user.is_authenticated %}
                <li {% if zone=='messages' %}class="active"{% endif %}><a href="{{ url_for('social.messages') }}"><span class="glyphicon glyphicon-envelope"></span>  Messages</a></li>
                {% endif %}
            </ul>
        {% else %}
            {{ caller() }}
        {% endif %}

            <ul class="nav navbar-nav navbar-right">
              <li><a href="{{ url_for('auth.help') }}"><span class="label label-info">Help</span></a></li>
              <li><a href="{{ url_for('feed.feed') }}"><span class="label label-primary">Updates</span></a></li>
                {% if current_user.is_authenticated %}
                    <li><a href="{{ url_for('auth.donate') }}"><span class="label label-success">Donate</span></a></li>
                    {% if current_user.admin %}
                        <li><a href="{{ url_for('admin.index') }}"><span class="label label-warning">Admin</span></a></li>
                    {% endif %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">[{{ current_user.name }}] <b
                                class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ url_for('auth.settings_page') }}">Settings</a></li>
                            <li class="divider"></li>
                            <li><a href="{{ url_for('auth.signout_page') }}">Sign Out</a></li>
                        </ul>
                    </li>
                {% else %}
                    <li><a href="{{ url_for('auth.signin_page') }}">Sign In</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
{% endmacro %}
